.login-content-container {
  color: black;
  text-align: center;
  min-height: 85vh;
  width: 100%;
  display: flex;
}

.login-form-container {
  margin: auto;
  height: 50vh;
  width: 70vw;
  max-width: 600px;
  padding: 5%;
  border: 1px solid black;
  border-radius: 5px;
}

.login-form-container .form {
  height: 80%;
  width: 100%;
}

.login-form-container .form-group {
  margin: auto;
}
.login-form-container .form-group input {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 1%;
  margin: 1.5%;
  width: 70%;
}
.login-form-container a {
  color: black;
}

.login-form-container button {
  background-color: black;
  color: white;
  margin-top: 3%;
  border-radius: 5px;
  padding: 2% 15%;
  cursor: pointer;
  border: none;
}

.login-form-container button:hover {
  background-color: coral;
}
