#authorize-button {
  background-color: lightblue;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

#album-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  text-align: center;
  margin: auto;
}
