.dashboard-container {
  width: 100%;
  min-height: 85vh;
  background-color: #e1ecfa;
}

.dashboard-container h1 {
  margin: 0;
  padding-top: 2%;
  padding-left: 2%;
}

.search-external-btn {
  padding: 15px;
  margin-top: 1%;
  margin-left: 2%;
}

.record-display-header-container {
  width: 100%;
  text-align: center;
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.search-container input {
  margin-left: 0.5%;
  border: 0;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  width: 300px;
  border-radius: 10px;
  height: 25px;
  background-color: #e1ecfa;
}

.dashboard-record-display {
  text-align: center;
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(46, 56, 74);
}

.dashboard-nav-bar {
  display: flex;
  margin-top: 0;
  width: 100%;
  margin-bottom: 1%;
  align-items: center;
  justify-content: center;
}
