.record-display-container {
  height: 300px;
  width: 150px;
  display: block;
  align-items: center;
  background-color: #262626;
  color: #e5e7ebbd;
  /* border-radius: 5px; */
  /* margin-left: 10%;
  margin-top: 2%; */
  background-repeat: no-repeat;
  /* background-color: rgb(17 24 39); */
  margin: 2%;
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */
  /* border: 1px solid white; */
  /* box-shadow: 0px 1px whitesmoke; */
}
.record-display-container img {
  height: 50%;
  margin-top: 5%;
  /* padding-left: 2%; */
}

.record-title-container p {
  width: 100%;
  /* margin-left: 20%; */
  text-align: center;
  white-space: nowrap;
  /* display: flex; */
  /* align-items: center; */
  /* font-size: 1.2rem; */
  /* display: block; */
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 20px;
  max-height: 40px; */
}

.record-ui-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.collect-btn {
  background-color: #595856;
  color: rgba(255, 255, 255, 0.598);
  width: 45%;
  border: none;
}

.collect-btn:hover {
  background-color: #a8ff3e;
}

.delete-btn {
  background-color: #595856;
  color: rgba(255, 255, 255, 0.598);
  width: 45%;
  border: none;
}

.delete-btn:hover {
  background-color: #fa163f;
}

.rd-artist-name {
  font-size: smaller;
}

.rd-record-name {
  font-size: medium;
}
/* 
@media (max-width: 600px) {
  .record-display-container {
    height: 100px;
    width: 90%;
  }

  .record-display-container img {
    width: 20%;
  }
} */

@media (min-width: 701px) and (max-width: 829px) {
  .record-display-container {
    height: 200px;
    width: 100px;
  }

  .record-ui-container button {
    font-size: 8px;
  }
}

@media (max-width: 700px) {
  .record-display-container {
    display: flex;
    width: 90%;
    height: 75px;
    align-items: center;
    margin-top: 0.5%;
  }

  .record-display-container img {
    height: 90%;
    margin-right: 5%;
  }

  .record-title-container {
    min-width: 35%;
  }

  .record-title-container p {
    text-align: left;
  }

  .rd-artist-name {
    font-size: 10px;
  }
  .rd-record-name {
    font-size: 12px;
  }
  .record-ui-container {
    float: right;
  }

  .record-ui-container button {
    font-size: 10px;
  }
}
