.searched-record-container {
  height: 300px;
  width: 150px;
  display: block;
  align-items: center;
  background-color: #1d1d1d;
  color: #e5e7ebbd;
  /* border-radius: 5px; */
  /* margin-left: 10%;
    margin-top: 2%; */
  background-repeat: no-repeat;
  /* background-color: rgb(17 24 39); */
  margin: 2%;
  position: relative;
}

.searched-record-container img {
  height: 50%;
  margin-top: 5%;
}

.collected-display {
  position: absolute;
  top: 10%;
  background-color: #a8ff3e;
  color: #1d1d1d;
  width: 50%;
  padding: 1%;
  text-align: center;
  border-radius: 4px;
  border: 1px solid black;
}

.wished-display {
  position: absolute;
  top: 20%;
  background-color: #f7fd04;
  color: #1d1d1d;
  width: 50%;
  padding: 1%;
  text-align: center;
  border-radius: 4px;
  border: 1px solid black;
}

.searched-record-title-container p {
  width: 100%;
  /* margin-left: 20%; */
  text-align: center;
  white-space: nowrap;
  /* display: flex; */
  /* align-items: center; */
  /* font-size: 1.2rem; */
  /* display: block; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.searched-record-ui-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.artist-name {
  font-size: smaller;
}

.record-name {
  font-size: medium;
}

.collect-btn {
  background-color: #595856;
  color: rgba(255, 255, 255, 0.598);
  width: 45%;
}
.collect-btn:hover {
  background-color: #a8ff3e;
}

.wishlist-btn {
  background-color: #595856;
  color: rgba(255, 255, 255, 0.598);
  width: 45%;
  border: none;
}

.wishlist-btn:hover {
  background-color: #f7fd04;
}

@media (min-width: 701px) and (max-width: 829px) {
  .searched-record-container {
    height: 200px;
    width: 100px;
  }

  .searched-record-ui-container button {
    font-size: 8px;
  }

  .collected-display {
    font-size: 10px;
  }

  .wished-display {
    font-size: 10px;
  }
}

@media (max-width: 700px) {
  .searched-record-container {
    display: flex;
    width: 90%;
    height: 75px;
    align-items: center;
    margin-top: 0.5%;
  }

  .searched-record-container img {
    height: 90%;
    margin-right: 5%;
  }

  .collected-display {
    font-size: 10px;
    width: 50px;
    top: 25%;
    padding: 0;
  }

  .wished-display {
    font-size: 10px;
    width: 50px;
    top: 50%;
    padding: 0;
  }

  .searched-record-title-container {
    min-width: 35%;
  }

  .searched-record-title-container p {
    text-align: left;
  }

  .artist-name {
    font-size: 10px;
  }

  .record-name {
    font-size: 12px;
  }

  .searched-record-ui-container button {
    font-size: 8px;
  }
}
