.searched-record-container {
  height: 300px;
  width: 150px;
  display: block;
  align-items: center;
  background-color: #1d1d1d;
  color: #e5e7ebbd;
  /* border-radius: 5px; */
  /* margin-left: 10%;
    margin-top: 2%; */
  background-repeat: no-repeat;
  /* background-color: rgb(17 24 39); */
  margin: 2%;
}

.searched-record-container img {
  width: 100%;
  margin-top: 5%;
}

.searched-record-title-container p {
  width: 100%;
  /* margin-left: 20%; */
  text-align: center;
  white-space: nowrap;
  /* display: flex; */
  /* align-items: center; */
  /* font-size: 1.2rem; */
  /* display: block; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.searched-record-ui-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.artist-name {
  font-size: smaller;
}

.record-name {
  font-size: medium;
}

.collect-btn {
  background-color: #595856;
  color: rgba(255, 255, 255, 0.598);
  width: 45%;
}

.wishlist-btn {
  background-color: #595856;
  color: rgba(255, 255, 255, 0.598);
  width: 45%;
}

.wishlist-btn:hover {
  background-color: #f7fd04;
}
