button {
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 5px;
  border: solid #ffa41b 0.5px;
  color: #ffa41b;
}

button:hover {
  cursor: pointer;
  background-color: #ffa41b;
  color: black;
}
