.artist-card {
  width: 100%;
  height: 100px;
  display: flex;
  margin: 0.5%;
  padding: 0.3%;
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  overflow: hidden;
  background-position: center;
}

.artist-record-count {
  display: inline-block;
  height: 20px;
  margin-top: 1%;
  position: absolute;
  bottom: 15%;
}

.album-art-container {
  position: absolute;
  right: 2px;
  bottom: 5%;
  height: 90%;
  width: 50%;
  display: inline-block;
}

.album-art {
  float: right;
  margin: 1px;
  margin-top: 20px;
}
