.artist-card-container {
  width: 500px;
  height: 100px;
  display: flex;
  border-radius: 15px;
  background-color: black;
  margin: auto;
  margin-top: 0.3%;
}

.artist-album-image {
  height: 100%;
  width: 70%;
  overflow: hidden;
  display: inline-block;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.artist-collection-details {
  height: 100%;
  width: 30%;
  display: inline-block;
  margin: auto;
  color: #7f7f7f;
}

.artist-collection-details h3 {
  margin-top: 5%;
  margin-left: 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist-collection-count {
  height: 40%;
  width: 50%;
  display: flex;
  margin-left: 5%;
  justify-content: center;
}
.record-icon {
  height: 30px;
  width: 30px;
  margin-right: 1%;
  margin-top: 4%;
  /* margin-bottom: 0; */
}

.artist-collection-count h2 {
  margin: auto;
  overflow: visible;
  margin-left: 1%;
}
