.artist-card-container {
  width: 80%;
  max-width: 80%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  background-color: #323031;
  margin: auto;
  margin-top: 0.3%;
  border-radius: 10px;
  padding: 1%;
  color: #e5e7eb;
  border: 0 solid #e5e7eb;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.artist-album-image {
  height: 100%;
  width: 30%;
  overflow: hidden;
  display: inline-block;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-repeat: no-repeat;
}

.artist-collection-details {
  height: 70px;
  width: 100%;
  display: flex;
  margin: auto;
  margin-left: 0;
  /* color: #acacac; */
  align-items: center;
}

.count-container {
  min-width: 3%;
}
.artist-collection-details h2 {
  margin-left: 1%;
  /* text-align: left; */
}

.artist-collection-details h3 {
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-align: left; */
}

/* .artist-collection-count {
  height: 40%;
  width: 50%;
  display: flex;
  margin-left: 5%;
  justify-content: center;
} */
.svg-inline--fa {
  margin-left: 2%;
  height: 30%;
}
