.profile-content-container {
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  min-height: 85vh;
  background-color: #1d1d1d;
  color: #e5e7ebbd;
}

.user-display-header {
  display: flex;
  padding-left: 5%;
  align-items: center;
  max-height: 100%;
  width: 100%;
  margin-top: 0;
}
.user-display-header button {
  margin-left: 2%;
}

.profile-nav-bar {
  display: flex;
  margin-top: 0;
  width: 100%;
  margin-bottom: 1%;
  align-items: center;
  justify-content: center;
}

.record-nav-container {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

/* .profile-nav-bar button {
  margin: 2%;
  display: inline;
} */
.record-display-header-container {
  width: 100%;
  text-align: center;
}
.search-container input {
  margin-left: 0.5%;
  border: 0;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  width: 300px;
  background-color: #bfbbb8;
}

.record-display {
  width: 90%;
  margin: auto;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  background-color: #262626;
}

.record-data-container {
  display: flex;
  margin: auto;
  width: 20%;
  justify-content: space-between;
}

.collection-data-container {
  margin: auto;
}

.wishlist-data-container {
  margin: auto;
}

@media (max-width: 600px) {
  .record-nav-container {
    width: 60%;
  }
}
