.profile-content-container {
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  min-height: 85vh;
}

.user-display-header {
  display: flex;
  padding-left: 5%;
  align-items: center;
  max-height: 100%;
  width: 100%;
  margin-top: 0;
}
.user-display-header button {
  margin-left: 2%;
}

.profile-nav-bar {
  display: flex;
  margin-top: 0;
  width: 100%;
  margin-bottom: 1%;
  align-items: center;
  justify-content: center;
}

.record-nav-container {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

/* .profile-nav-bar button {
  margin: 2%;
  display: inline;
} */
.record-display-header-container {
  width: 100%;
  text-align: center;
}

.record-display {
  width: 100%;
  padding: 1%;
}

.record-data-container {
  display: flex;
  margin: auto;
  width: 20%;
  justify-content: space-between;
}

.collection-data-container {
  margin: auto;
}

.wishlist-data-container {
  margin: auto;
}

@media (max-width: 600px) {
  .record-nav-container {
    width: 60%;
  }
}
