.content-container {
  margin-top: auto;
  width: 100%;
}

.profile-nav-bar {
  display: flex;
  margin-top: 1%;
}

.user-display-container {
  display: flex;
  margin-left: 5%;
  align-items: center;
  max-height: 100%;
}

.record-data-container {
  display: flex;
  margin: auto;
  width: 20%;
  justify-content: space-between;
}

.collection-data-container {
  margin: auto;
}

.wishlist-data-container {
  margin: auto;
}
