.header {
  /* padding-top: 2%;
  padding-bottom: 2%; */
  /* position: relative; */
  /* top: 0; */
  /* width: 100%; */
  background-color: #323031;
  grid-area: header;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* min-height: 8vh; */
  /* height: 10%; */
  /* display: flex; */
}

.brand-container {
  width: 50%;
}

/* .logo-container img {
  height: 50%;
  margin-left: 0;
} */

.nav-container {
  /* position: absolute; */
  /* right: 1%; */
  /* top: 8%; */
  margin: auto;
  float: right;
  display: inline;
  text-decoration: none;
  width: 50%;
}

.nav-container li {
  display: inline;
  margin: 5%;
}
.nav-container li a {
  color: white;
}
