.landing-container::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../assets/vinylrecordstackxtralarge.jpg");
  filter: grayscale(70%);
}
.landing-container {
  position: relative;
  background-color: white;
  min-height: 85vh;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* background-image: url("../../assets/vinylrecordstackxtralarge.jpg");
  filter: grayscale(70%); */
}

.landing-header {
  position: relative;
  padding-left: 5%;
  padding-top: 2%;
  width: 100%;
  height: 100%;
  /* text-align: center; */
}

.landing-header h1 span {
  font-size: 120%;
}
.landing-header br {
  display: block;
  content: "";
  margin-top: 0;
}

.landing-links div {
  position: relative;
  background-color: #0d0d0d;
  border-radius: 2px;
  width: 100%;
  height: 20%;
  max-width: 300px;
  padding: 1%;
  display: flex;
  text-align: center;
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
  margin: 2% 5%;
}

.landing-links div:hover {
  background-color: #595856;
  text-decoration: none;
}

.landing-links a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .landing-container::before {
    background-image: url("../../assets/vinylrecordstacklarge.jpg");
  }

  .landing-links div {
    width: 40%;
  }
}
