.registration-content-container {
  color: #e5e7ebbd;
  text-align: center;
  min-height: 85vh;
  width: 100%;
  display: flex;
  background-color: #262626;
}

.registration-form-container {
  margin: auto;
  height: 50vh;
  width: 70vw;
  max-width: 600px;
  padding: 5%;
  border: 1px solid #e5e7ebbd;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.registration-form-container .form {
  height: 80%;
  width: 100%;
}

.registration-form-container .form-group {
  margin: auto;
}

.registration-form-container .form-group input {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 1%;
  margin: 1.5%;
  width: 70%;
}
.registration-form-container a {
  color: #e5e7ebbd;
}

.registration-form-container button {
  background-color: black;
  color: white;
  margin-top: 3%;
  border-radius: 5px;
  padding: 2% 15%;
  cursor: pointer;
  border: none;
}

.registration-form-container button:hover {
  background-color: coral;
}

@media (max-width: 800px) {
  .registration-form-container {
    margin: 20% auto;
    height: 80%;
    padding: 10%;
  }
}
